.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner.small {
  width: 30px;
  height: 30px;
}

.spinner.medium {
  width: 50px;
  height: 50px;
}

.spinner.large {
  width: 80px;
  height: 80px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-message {
  margin-top: 1rem;
  color: #7f8c8d;
  text-align: center;
}
